Hello. Welcome to my website!
<b>Who are you?</b>
Ciel, Ciel Phantomhi-hello I'm Shampoocat.
<b>Where is your blog?</b>
It's <a href='blog/index.html'>here</a>
<b>Where did your modern website built with websocket and Django and CDN go?</b>
I nuked it. It got too bloated.
